/* main.scss */
body {
  background-color: #1e72c6;
}

.app {
  margin: auto;
  max-width: 75rem;
}

.home-page {
  margin: auto;
  background-color: rgb(55, 70, 65);
}
li:hover {
  user-select: none;
  cursor: pointer;
}

.display-expanded {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.forecast-card {
  min-width: 155px;
  max-width: 220px;
  flex: 1 1 155px;
}

@media (min-width: 768px) {
  .display-expanded {
    display: flex;
    flex-wrap: wrap;
  }
}
